<div class="six columns">
  <h5><strong>熱門標籤</strong></h5>
<a href="">經濟金融</a>|
<a href="">社會政治</a>|
<a href="">國際</a>
<!-- <a title="Privacy Policy Altcointrading.net" href="/about/">Privacy</a> |
  <a title="Trading disclaimer" href="/disclaimer/">Disclaimer</a> |
  <a href='http://feeds.specificfeeds.com/altcointrading?subParam=followPub' target='_blank'>
    Newsletter
  </a> ||
  <a href="/coupon-bitmex-iYQB44/">Coupon BitMEX</a> |
  <a href="/coupon-coinmama-fny3000/">Coupon CoinMama</a> |
  <a href="/coupon-bitfinex-5egV78YtlC/">Coupon BitFinex</a> -->

  <br>

  2017 | Emajor.Taiwan

</div>
<div class="six columns">
</div>

<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-73503011-2"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    },
    "outboundLinks": {
        "on": "click",
        "selector": "a",
        "request": "event",
        "vars": {
          "eventCategory": "outbound",
          "eventAction": "click",
          "eventValue": "${outboundLink}"
        }
      }
  }
}
</script>
</amp-analytics>
